<!-- Import Template Block -->
{% extends 'tasks/base.html' %}
{% block title %}To-Do List{% endblock %}

{%  block body %}
    <h3>Welcome, {{ users.username }}Here Are All Your Tasks:</h3>
    {% if all_tasks %}
        <ul>
            {% for task in all_tasks %}
                <li><a href="{{ task.id }}">{{ task.title }}</a></li>
                <!-- Delete Task -->
                <form action="{% url 'tasks:delete_task' task.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
                <!-- Modify Task -->
                <form action="{% url 'tasks:update_task' task.id %}" method="get" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </form>
            {% endfor %}
        </ul>

    {% else %}
    <h3>No Tasks To Display!</h3>
    {% endif %}
{% endblock %}
