<!-- Import Template Block -->
{% extends 'tasks/base.html' %}
{% block title %}Search Results{% endblock %}

{%  block body %}
    <h3 style="margin-left: 10px;">Your Search Results: </h3>
    {% if search_results %}
            {% for search in search_results %}
        <div style="margin-bottom: 10px; margin-left: 10px;">
                <p style="margin-bottom: 0;"><a href="{{ search.id }}">{{ search.title }}</a></p>
                <!-- Delete Task -->
                <form action="{% url 'tasks:delete_task' search.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ search.id }}" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
                <!-- Modify Task -->
                <form action="{% url 'tasks:update_task' search.id %}" method="get" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ search.id }}" />
                    <button type="submit" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </form>
        </div>
            {% endfor %}

    {% else %}
    <p style="margin-left: 20px;">Your Search Found Nothing!</p>
    {% endif %}
{% endblock %}
